.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:disabled {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #6773b6;
  color: white;
}

.red {
  background-color: rgb(170, 42, 42);
  border-color: rgb(170, 42, 42);
}

.red:hover {
  background-color: rgb(198, 75, 75);
  border-color: rgb(198, 75, 75);
}
