.main {
  margin-top: 7em;
}

.my-box {
  width: 80%;
}

.theme-toggle {
  display: flex;
  gap: 1rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px !important;
  min-width: 50px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
  background-color:#007bff;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.theme-label {
  font-size: 1rem;
  transition: color 0.3s;
}

body.dark .theme-label {
  color: #fff;
}


@media screen and (max-width: 880px) {
  .main {
    margin-top: 3em;
  }
}
