<div class="d-flex align-items-center justify-content-center main">
  <div class="container my-4 p-4  shadow rounded my-box" style="max-width: 500px;">
    <h1 class="h3   text-center fw-bold mb-4">Kontodetaljer</h1>
    <div *ngIf="accountDetail$ | async as user">
      <div class="text-center">
        <!-- User's Initial -->
        <div class="rounded-circle border bg-white  mb-4 d-inline-flex justify-content-center align-items-center"
            style="width: 5rem; height: 5rem; font-size: 2rem; ">
            <i class="fas fa-user" style="color: #3f51b5;"></i>
        </div>
        <hr class="mb-4">
        <!-- Account Details -->
        <div class="row  g-1 g-md-2 g-lg-2 text-start">
          <div class="col-5 col-md-6 col-lg-6 fw-bold   text-center">Namn</div>
          <div class="col-6   text-center">{{ user.fullName | titlecase }}</div>

          <div class="col-5 col-md-6 col-lg-6 fw-bold   text-center">Email</div>
          <div class="col-6   text-center">{{ user.email }}</div>

          <div class="col-5 col-md-6 col-lg-6 fw-bold  my-3 text-center">Mode</div>
          <div class=" col-6 theme-toggle my-3 justify-content-center">
            <label class="toggle-switch">
              <input
                type="checkbox"
                [checked]="currentTheme === 'dark'"
                (change)="onThemeChange(currentTheme === 'light' ? 'dark' : 'light')"
              />
              <span class="slider"></span>
            </label>
            <span class="theme-label ">{{ currentTheme === 'dark' ? 'Dark' : 'Light' }}</span>
          </div>

        </div>

        <!-- Theme Switcher -->
      </div>
    </div>
  </div>
</div>
