<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 class="display-4 my-4">
      Welcome to
      <span class="display-5 text-success">MyApp</span>
    </h1>

    <div class="d-flex flex-column align-items-center gap-4 justify-content-center">
      @if (authService.getUserDetail()) {
      <h2 class="h3">
        You are logged in as
        <span class="font-weight-bold bg-primary text-white rounded p-2">
          {{ authService.getUserDetail()?.fullName }}
        </span>
      </h2>
      } @else {
        <h2 class="h3">You are not logged in</h2>
        <a routerLink="/login">
          <button class="btn btn-primary">
            Login
          </button>
        </a>
      }
    </div>
  </div>
</div>
