.main {
  font-size: 1.4em;
}

button {
  background-color: #3f51b5;
  color: white;
  padding: auto;

}


.book {
  background-color: rgb(242, 243, 249);
  border: 0.1em, solid, rgb(225, 226, 255);
  border-radius: 0.5em;
}

.semi-bold {
  font-weight: 600; /* Semi-bold weight */
}

.red {
  background-color: rgb(200, 0, 0);
}

li {
  list-style: none;
}

@media screen and (max-width:590px) {
  .book {
    display: block;
    flex-direction: column;
  }
}
