<div class="container d-flex justify-content-center align-items-center mt-5 vh-50" [@fadeIn]>
  <form class="shadow-md rounded-md p-4   w-100" [formGroup]="editBookForm" (ngSubmit)="updateBook()">
    <!-- Displaying errors -->
    <div *ngFor="let error of errors" class="alert alert-danger mb-2">
      <div class="small">{{ error.description }}</div>
    </div>

    <div class="py-4">
      <h2 class="font-weight-bold text-center py-2">Redigera boken</h2>
    </div>

    <div class="mb-3">
      <label for="bookName" class="form-label">
        <i class="fas fa-book"></i> Bok namn
      </label>
      <input type="text" id="bookName" class="form-control field" placeholder="Bok namn" formControlName="bookName" />
      <div *ngIf="editBookForm.get('bookName')?.invalid && editBookForm.get('bookName')?.touched" class="text-danger">
        <small>Bok nanm är obligatorisk</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="author" class="form-label"><i class="fas fa-user"></i> Förtfattare</label>
      <input type="text" id="author" class="form-control field" placeholder="Förtfattare" formControlName="author" />
      <div *ngIf="editBookForm.get('author')?.invalid && editBookForm.get('author')?.touched" class="text-danger">
        <small>Förtfattare är obligatorisk</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="publishDate" class="form-label"><i class="fas fa-calendar-alt"></i> Publicering datum</label>
      <input type="date" id="publishDate" class="form-control field" formControlName="publishDate" />
    </div>

    <div class="text-center">
      <button [disabled]="!editBookForm.valid" class="btn btn-primary w-100" type="submit">Spara ändringar</button>
      <button class="btn btn-m" (click)="cancel($event)" type="button">Avbryta</button>
    </div>

  </form>
</div>
