<div class="p-lg-5 p-3 pt-4  " [@fadeIn]>


  <div class="d-flex flex-column  vh-50 gap-4  ">
    <!-- Check if user is logged in -->
    <ng-container *ngIf="authService.getUserDetail(); else loginMessage">
      <!-- Show books if the user is logged in -->
      <div *ngIf="quotes$ | async as quotes; else loading">
        <button class="btn btn-primary" [routerLink]="['/add-quote']">Lägg till ny citat</button>

        <div *ngIf="quotes.length > 0; else noQuotes">
          <h2 class="fw-bold  m-4 mt-lg-5 mb-lg-3 mx-1">Citats:</h2>
          <ul class="m-0 p-1 bg-gray">
            <li *ngFor="let quote of quotes" class="d-flex flex-column flex-md-row p-3 justify-content-between align-items-center mb-3 quote ">
              <div>
                <h4 style="font-family: 'Playfair Display', serif;">"{{ quote.citatText }}"</h4>
                <h6 class="mx-2"><i class="fas fa-user"></i> <span class="semi-bold mx-1">  {{ quote.author }}</span></h6>
              </div>
              <button mat-button color="warn" class="btn btn-primary mx-3 py-1 red mt-2  " (click)="deleteQuote(quote.id)">Radera</button>
            </li>
          </ul>
        </div>
        <ng-template #noQuotes>
          <h4>Du har inte citat än</h4>
        </ng-template>
      </div>

      <!-- Loading state while fetching books -->
      <ng-template #loading>
        <p>Laddar citater...</p>
      </ng-template>

    </ng-container>

    <!-- If not logged in, show login prompt -->
    <ng-template #loginMessage>
      <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
          <h2 class="h3">Du är inte inloggad</h2>
          <a routerLink="/login">
            <button class="btn btn-primary">Logga in</button>
          </a>
        </div>
      </div>
    </ng-template>
  </div>

 </div>
