/* Default styling for links-container */
.links-container {
  display: flex;
}
a.cursor-pointer, a.cursor-pointer * {
  cursor: pointer;
}





/* Adjust toolbar for small screens */
@media (max-width: 768px) {
  /* Always show links-container */
  .links-container {
    display: flex;
  }


}
