<mat-toolbar color="primary p-3 fixed-top" class="px-4 py-3">
  <!-- Links for All Screens -->
  <div class="d-flex align-items-left links-container">
    <a routerLink="/" class="ms-2 text-white text-decoration-none">Boklista</a>
    <a routerLink="/quotes" class="ms-2 text-white text-decoration-none">Citat</a>
  </div>

  <div class="flex-grow-1"></div>

  <!-- User Profile Circle Always Visible -->
  <div *ngIf="isLoggedIn()" class="d-flex gap-3 align-items-center cursor-pointer">
    <a [matMenuTriggerFor]="userMenu" class="d-flex align-items-center gap-2 text-white text-decoration-none cursor-pointer">
      <div
        class="rounded-circle bg-danger text-white fw-bold shadow d-flex justify-content-center align-items-center"
        style="width: 40px; height: 40px;">
        {{   userDetail?.fullName[0]?.toUpperCase() }}
      </div>
    </a>
        <mat-menu  #userMenu="matMenu">
      <button mat-menu-item [routerLink]="['account', userDetail?.id]" class="cursor-pointer">
        <mat-icon>account_circle</mat-icon>
        <span>Se profil</span>
      </button>
      <button mat-menu-item (click)="logout()" class="cursor-pointer">
        <mat-icon>logout</mat-icon>
        <span>Logga ut</span>
      </button>
    </mat-menu>
  </div>

  <!-- Guest Links -->
  <div *ngIf="!isLoggedIn()" class="d-flex align-items-center">
    <!-- For Large Screens (No Burger Menu) -->
    <div *ngIf="!isSmallScreen; else burgerMenu">
      <a mat-button routerLink="/login" class="btn btn-outline-light">Logga in</a>
      <a mat-button routerLink="/register" class="btn btn-outline-light">Registrera</a>
    </div>

    <!-- For Small Screens (Burger Menu) -->
    <ng-template #burgerMenu>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="guestMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #guestMenu="matMenu">
          <button mat-menu-item routerLink="/login">
            <mat-icon>login</mat-icon>
            <span>Logga in</span>
          </button>
          <button mat-menu-item routerLink="/register">
            <mat-icon>person_add</mat-icon>
            <span>Registrera</span>
          </button>
        </mat-menu>
      </div>
    </ng-template>
  </div>
  </mat-toolbar>
